@model ModelLayer.ViewModels.CartInfoViewModel

@{
    ViewData["Title"] = "ViewCart";
}

<h1>ViewCart for @Model.Store.StoreLocationName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var orderLine in Model.ProductsInOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => orderLine.Item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => orderLine.OrderDetailsQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => orderLine.OrderDetailsPrice)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
